body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1779 {
  position:absolute;
  left:381px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1781 {
  position:absolute;
  left:381px;
  top:90px;
  width:480px;
  height:108px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1782 {
  position:absolute;
  left:2px;
  top:33px;
  width:476px;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:64px;
}
#u1783 {
  position:absolute;
  left:476px;
  top:110px;
  width:75px;
  height:64px;
}
#u1784 {
  position:absolute;
  left:2px;
  top:24px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:94px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0862745098039216);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1785 {
  position:absolute;
  left:380px;
  top:207px;
  width:640px;
  height:94px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:39px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1787 {
  position:absolute;
  left:381px;
  top:198px;
  width:480px;
  height:108px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1788 {
  position:absolute;
  left:2px;
  top:33px;
  width:476px;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:64px;
}
#u1789 {
  position:absolute;
  left:476px;
  top:218px;
  width:75px;
  height:64px;
}
#u1790 {
  position:absolute;
  left:2px;
  top:24px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1791 {
  position:absolute;
  left:380px;
  top:303px;
  width:480px;
  height:108px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1792 {
  position:absolute;
  left:2px;
  top:33px;
  width:476px;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:64px;
}
#u1793 {
  position:absolute;
  left:475px;
  top:323px;
  width:75px;
  height:64px;
}
#u1794 {
  position:absolute;
  left:2px;
  top:24px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1795 {
  position:absolute;
  left:380px;
  top:411px;
  width:480px;
  height:108px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u1796 {
  position:absolute;
  left:2px;
  top:33px;
  width:476px;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:64px;
}
#u1797 {
  position:absolute;
  left:475px;
  top:431px;
  width:75px;
  height:64px;
}
#u1798 {
  position:absolute;
  left:2px;
  top:24px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799 {
  position:absolute;
  left:380px;
  top:0px;
}
#u1799_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1799_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1800 {
  position:absolute;
  left:545px;
  top:24px;
  width:1px;
  height:16px;
}
#u1801 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:128px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:128px;
  color:#CC99CC;
}
#u1803 {
  position:absolute;
  left:2px;
  top:56px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1804 {
  position:absolute;
  left:256px;
  top:64px;
  width:129px;
  height:42px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1807 {
  position:absolute;
  left:25px;
  top:59px;
  width:48px;
  height:48px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:20px;
  height:5px;
}
#u1809 {
  position:absolute;
  left:36px;
  top:75px;
  width:17px;
  height:2px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:-7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u1811 {
  position:absolute;
  left:36px;
  top:83px;
  width:26px;
  height:2px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:-7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:5px;
}
#u1813 {
  position:absolute;
  left:36px;
  top:91px;
  width:26px;
  height:2px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:-7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1815 {
  position:absolute;
  left:25px;
  top:59px;
  width:48px;
  height:48px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1818 {
  position:absolute;
  left:23px;
  top:58px;
  width:50px;
  height:50px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:5px;
}
#u1820 {
  position:absolute;
  left:35px;
  top:75px;
  width:18px;
  height:2px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:-7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u1822 {
  position:absolute;
  left:35px;
  top:83px;
  width:27px;
  height:2px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:5px;
}
#u1824 {
  position:absolute;
  left:35px;
  top:91px;
  width:27px;
  height:2px;
}
#u1825 {
  position:absolute;
  left:2px;
  top:-7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1826 {
  position:absolute;
  left:23px;
  top:58px;
  width:50px;
  height:50px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1829 {
  position:absolute;
  left:562px;
  top:59px;
  width:48px;
  height:48px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  position:absolute;
  left:562px;
  top:59px;
  width:48px;
  height:48px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1833 {
  position:absolute;
  left:576px;
  top:73px;
  width:18px;
  height:8px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1835 {
  position:absolute;
  left:595px;
  top:74px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1836 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  position:absolute;
  left:576px;
  top:86px;
  width:18px;
  height:8px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1839 {
  position:absolute;
  left:595px;
  top:87px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1840 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1008px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:0px;
  top:128px;
  width:640px;
  height:1008px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:496px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843 {
  position:absolute;
  left:0px;
  top:204px;
  width:640px;
  height:513px;
  overflow:hidden;
}
#u1843_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:513px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1843_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:514px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:514px;
  font-size:48px;
  color:#FFFFFF;
}
#u1845 {
  position:absolute;
  left:2px;
  top:249px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(81, 81, 81, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1846 {
  position:absolute;
  left:0px;
  top:470px;
  width:640px;
  height:44px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1847 {
  position:absolute;
  left:15px;
  top:9px;
  width:623px;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:420px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:0px;
  top:717px;
  width:640px;
  height:420px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:202px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850 {
  position:absolute;
  left:1px;
  top:827px;
  width:639px;
  height:120px;
  overflow:hidden;
  touch-action:none;
}
#u1850_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1850_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2548px;
  height:120px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:-640px;
  top:0px;
  width:2548px;
  height:120px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:52px;
  width:2544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1854 {
  position:absolute;
  left:-100px;
  top:101px;
  width:2px;
  height:18px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2556px;
  height:2px;
}
#u1856 {
  position:absolute;
  left:-647px;
  top:119px;
  width:2555px;
  height:1px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2551px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1858 {
  position:absolute;
  left:-206px;
  top:101px;
  width:2px;
  height:18px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1860 {
  position:absolute;
  left:-312px;
  top:101px;
  width:2px;
  height:18px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1862 {
  position:absolute;
  left:-418px;
  top:101px;
  width:2px;
  height:18px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1864 {
  position:absolute;
  left:-630px;
  top:101px;
  width:2px;
  height:18px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1866 {
  position:absolute;
  left:-524px;
  top:101px;
  width:2px;
  height:18px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1868 {
  position:absolute;
  left:6px;
  top:101px;
  width:2px;
  height:18px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:-319px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:-213px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1874 {
  position:absolute;
  left:-107px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1876 {
  position:absolute;
  left:-637px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1878 {
  position:absolute;
  left:-531px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1880 {
  position:absolute;
  left:-425px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1882 {
  position:absolute;
  left:-1px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1884_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1884 {
  position:absolute;
  left:649px;
  top:101px;
  width:2px;
  height:18px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1886 {
  position:absolute;
  left:543px;
  top:101px;
  width:2px;
  height:18px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1888 {
  position:absolute;
  left:437px;
  top:101px;
  width:2px;
  height:18px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1890 {
  position:absolute;
  left:331px;
  top:101px;
  width:2px;
  height:18px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1892 {
  position:absolute;
  left:119px;
  top:101px;
  width:2px;
  height:18px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1894 {
  position:absolute;
  left:225px;
  top:101px;
  width:2px;
  height:18px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1896 {
  position:absolute;
  left:755px;
  top:101px;
  width:2px;
  height:18px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1898 {
  position:absolute;
  left:430px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1900 {
  position:absolute;
  left:536px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1902 {
  position:absolute;
  left:642px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1904 {
  position:absolute;
  left:112px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1906 {
  position:absolute;
  left:218px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1908 {
  position:absolute;
  left:324px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:748px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1912_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1912 {
  position:absolute;
  left:971px;
  top:101px;
  width:2px;
  height:18px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1914 {
  position:absolute;
  left:865px;
  top:101px;
  width:2px;
  height:18px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1916 {
  position:absolute;
  left:1077px;
  top:101px;
  width:2px;
  height:18px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1918 {
  position:absolute;
  left:858px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1920 {
  position:absolute;
  left:964px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:1070px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1924_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1924 {
  position:absolute;
  left:1720px;
  top:101px;
  width:2px;
  height:18px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1926 {
  position:absolute;
  left:1614px;
  top:101px;
  width:2px;
  height:18px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1928 {
  position:absolute;
  left:1508px;
  top:101px;
  width:2px;
  height:18px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1930 {
  position:absolute;
  left:1402px;
  top:101px;
  width:2px;
  height:18px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1932 {
  position:absolute;
  left:1190px;
  top:101px;
  width:2px;
  height:18px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1934 {
  position:absolute;
  left:1296px;
  top:101px;
  width:2px;
  height:18px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1936 {
  position:absolute;
  left:1826px;
  top:101px;
  width:2px;
  height:18px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1938 {
  position:absolute;
  left:1501px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1940 {
  position:absolute;
  left:1607px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1942 {
  position:absolute;
  left:1713px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1944 {
  position:absolute;
  left:1183px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1946 {
  position:absolute;
  left:1289px;
  top:83px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1948 {
  position:absolute;
  left:1395px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:1819px;
  top:82px;
  width:17px;
  height:19px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:113px;
}
#u1953 {
  position:absolute;
  left:321px;
  top:0px;
  width:1px;
  height:112px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:48px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1955 {
  position:absolute;
  left:318px;
  top:112px;
  width:7px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1956 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:56px;
}
#u1957 {
  position:absolute;
  left:426px;
  top:1005px;
  width:53px;
  height:56px;
}
#u1957_img.selected {
}
#u1957.selected {
}
#u1958 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:411px;
  top:898px;
  width:34px;
  height:30px;
}
#u1959_img.selected {
}
#u1959.selected {
}
#u1960 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u1961 {
  position:absolute;
  left:274px;
  top:412px;
  width:93px;
  height:93px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1964 {
  position:absolute;
  left:31px;
  top:740px;
  width:52px;
  height:52px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#E5EDF0;
}
#u1966 {
  position:absolute;
  left:37px;
  top:799px;
  width:39px;
  height:25px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#E5EDF0;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:214px;
  top:755px;
  width:214px;
  height:62px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1969 {
  position:absolute;
  left:2px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1970 {
  position:absolute;
  left:222px;
  top:768px;
  width:36px;
  height:36px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u1972 {
  position:absolute;
  left:177px;
  top:1005px;
  width:58px;
  height:58px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1974 {
  position:absolute;
  left:271px;
  top:979px;
  width:100px;
  height:100px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
}
#u1976 {
  position:absolute;
  left:283px;
  top:998px;
  width:74px;
  height:57px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:128px;
  width:320px;
  height:76px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1979_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1979.selected {
}
#u1980 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1981 {
  position:absolute;
  left:320px;
  top:128px;
  width:320px;
  height:76px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1981_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1981.selected {
}
#u1982 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u1983 {
  position:absolute;
  left:992px;
  top:91px;
  width:250px;
  height:150px;
  font-size:20px;
  color:#FFFFFF;
}
#u1984 {
  position:absolute;
  left:10px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u1985 {
  position:absolute;
  left:992px;
  top:166px;
  width:0px;
  height:0px;
}
#u1985_seg0 {
  position:absolute;
  left:-352px;
  top:-4px;
  width:356px;
  height:8px;
}
#u1986 {
  position:absolute;
  left:-226px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:980px;
  top:654px;
  width:262px;
  height:150px;
  font-size:20px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:10px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u1989 {
  position:absolute;
  left:980px;
  top:729px;
  width:0px;
  height:0px;
}
#u1989_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1989_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:9px;
}
#u1989_seg2 {
  position:absolute;
  left:-664px;
  top:-3px;
  width:658px;
  height:8px;
}
#u1989_seg3 {
  position:absolute;
  left:-664px;
  top:-3px;
  width:8px;
  height:24px;
}
#u1989_seg4 {
  position:absolute;
  left:-664px;
  top:13px;
  width:9px;
  height:8px;
}
#u1989_seg5 {
  position:absolute;
  left:-663px;
  top:13px;
  width:8px;
  height:13px;
}
#u1990 {
  position:absolute;
  left:-392px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1991 {
  position:absolute;
  left:555px;
  top:749px;
  width:47px;
  height:47px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#E5EDF0;
}
#u1993 {
  position:absolute;
  left:559px;
  top:798px;
  width:39px;
  height:25px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#E5EDF0;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:6px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:0px;
  top:198px;
  width:320px;
  height:6px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:-5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u1997 {
  position:absolute;
  left:980px;
  top:874px;
  width:262px;
  height:150px;
  font-size:20px;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:10px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:980px;
  top:949px;
  width:0px;
  height:0px;
}
#u1999_seg0 {
  position:absolute;
  left:-176px;
  top:-4px;
  width:176px;
  height:8px;
}
#u1999_seg1 {
  position:absolute;
  left:-176px;
  top:-63px;
  width:8px;
  height:67px;
}
#u2000 {
  position:absolute;
  left:-168px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001 {
  position:absolute;
  left:807px;
  top:887px;
  width:0px;
  height:0px;
}
#u2001_seg0 {
  position:absolute;
  left:-491px;
  top:-4px;
  width:491px;
  height:8px;
}
#u2001_seg1 {
  position:absolute;
  left:-491px;
  top:-4px;
  width:8px;
  height:5px;
}
#u2002 {
  position:absolute;
  left:-294px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:464px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:672px;
  width:640px;
  height:464px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:224px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:75px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  position:absolute;
  left:0px;
  top:597px;
  width:640px;
  height:75px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:30px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2008 {
  position:absolute;
  left:0px;
  top:597px;
  width:139px;
  height:75px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2009 {
  position:absolute;
  left:0px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2010 {
  position:absolute;
  left:501px;
  top:597px;
  width:139px;
  height:75px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2011 {
  position:absolute;
  left:0px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u2012 {
  position:absolute;
  left:992px;
  top:293px;
  width:262px;
  height:150px;
  font-size:20px;
  color:#FFFFFF;
}
#u2013 {
  position:absolute;
  left:10px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u2014 {
  position:absolute;
  left:992px;
  top:368px;
  width:0px;
  height:0px;
}
#u2014_seg0 {
  position:absolute;
  left:-360px;
  top:-4px;
  width:360px;
  height:8px;
}
#u2014_seg1 {
  position:absolute;
  left:-360px;
  top:-4px;
  width:8px;
  height:10px;
}
#u2015 {
  position:absolute;
  left:-231px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:34px;
}
#u2016 {
  position:absolute;
  left:381px;
  top:4px;
  width:640px;
  height:34px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:9px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u2018 {
  position:absolute;
  left:1372px;
  top:470px;
  width:262px;
  height:150px;
  font-size:20px;
  color:#FFFFFF;
}
#u2019 {
  position:absolute;
  left:10px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u2020 {
  position:absolute;
  left:1372px;
  top:545px;
  width:0px;
  height:0px;
}
#u2020_seg0 {
  position:absolute;
  left:-928px;
  top:-4px;
  width:928px;
  height:8px;
}
#u2020_seg1 {
  position:absolute;
  left:-928px;
  top:-4px;
  width:8px;
  height:209px;
}
#u2020_seg2 {
  position:absolute;
  left:-934px;
  top:197px;
  width:14px;
  height:8px;
}
#u2021 {
  position:absolute;
  left:-618px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
