body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:128px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1232 {
  position:absolute;
  left:380px;
  top:0px;
  width:640px;
  height:128px;
  color:#CC99CC;
}
#u1233 {
  position:absolute;
  left:2px;
  top:56px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1234 {
  position:absolute;
  left:636px;
  top:62px;
  width:129px;
  height:42px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:34px;
}
#u1236 {
  position:absolute;
  left:380px;
  top:4px;
  width:640px;
  height:34px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:9px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1238 {
  position:absolute;
  left:409px;
  top:73px;
  width:15px;
  height:25px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1008px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:380px;
  top:128px;
  width:640px;
  height:1008px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:496px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1242 {
  position:absolute;
  left:439px;
  top:323px;
  width:1px;
  height:16px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1244 {
  position:absolute;
  left:439px;
  top:323px;
  width:1px;
  height:16px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1246 {
  position:absolute;
  left:380px;
  top:278px;
  width:640px;
  height:450px;
  overflow:hidden;
}
#u1246_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:450px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1246_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1247 {
  position:absolute;
  left:0px;
  top:1px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1248 {
  position:absolute;
  left:80px;
  top:19px;
  width:558px;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1249 {
  position:absolute;
  left:0px;
  top:76px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1250 {
  position:absolute;
  left:80px;
  top:19px;
  width:558px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1251 {
  position:absolute;
  left:595px;
  top:26px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1252 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1253 {
  position:absolute;
  left:595px;
  top:99px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1254 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1255 {
  position:absolute;
  left:0px;
  top:151px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1256 {
  position:absolute;
  left:80px;
  top:19px;
  width:558px;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1257 {
  position:absolute;
  left:595px;
  top:177px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1258 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1259 {
  position:absolute;
  left:0px;
  top:225px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1260 {
  position:absolute;
  left:80px;
  top:19px;
  width:558px;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1261 {
  position:absolute;
  left:0px;
  top:300px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1262 {
  position:absolute;
  left:80px;
  top:19px;
  width:558px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1263 {
  position:absolute;
  left:595px;
  top:250px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1264 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1265 {
  position:absolute;
  left:595px;
  top:323px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1266 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1267 {
  position:absolute;
  left:0px;
  top:375px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1268 {
  position:absolute;
  left:80px;
  top:19px;
  width:558px;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1269 {
  position:absolute;
  left:595px;
  top:401px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1270 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
}
#u1271 {
  position:absolute;
  left:380px;
  top:204px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
}
#u1272 {
  position:absolute;
  left:50px;
  top:19px;
  width:588px;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
}
#u1273 {
  position:absolute;
  left:380px;
  top:130px;
  width:640px;
  height:74px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:left;
}
#u1274 {
  position:absolute;
  left:50px;
  top:19px;
  width:588px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1275 {
  position:absolute;
  left:977px;
  top:155px;
  width:15px;
  height:25px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1276 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
