body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209 {
  position:absolute;
  left:380px;
  top:0px;
}
#u209_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u209_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:38px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:38px;
  color:#CC99CC;
}
#u211 {
  position:absolute;
  left:2px;
  top:11px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1098px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  position:absolute;
  left:0px;
  top:38px;
  width:640px;
  height:1098px;
}
#u213 {
  position:absolute;
  left:2px;
  top:541px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:2px;
}
#u214 {
  position:absolute;
  left:22px;
  top:362px;
  width:589px;
  height:1px;
}
#u214_img.selected {
}
#u214.selected {
}
#u215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:22px;
  top:284px;
  width:589px;
  height:78px;
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:78px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u217 {
  position:absolute;
  left:28px;
  top:256px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u217_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u217.selected {
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:2px;
}
#u219 {
  position:absolute;
  left:22px;
  top:488px;
  width:589px;
  height:1px;
}
#u219_img.selected {
}
#u219.selected {
}
#u220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:22px;
  top:409px;
  width:589px;
  height:78px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:78px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u222 {
  position:absolute;
  left:28px;
  top:381px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u222_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u222.selected {
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u224 {
  position:absolute;
  left:89px;
  top:617px;
  width:458px;
  height:79px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u225 {
  position:absolute;
  left:2px;
  top:20px;
  width:454px;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:83px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.388235294117647);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:113px;
  top:524px;
  width:431px;
  height:83px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u227 {
  position:absolute;
  left:2px;
  top:34px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:34px;
}
#u228 {
  position:absolute;
  left:-2px;
  top:3px;
  width:640px;
  height:34px;
}
#u229 {
  position:absolute;
  left:2px;
  top:9px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u230 {
  position:absolute;
  left:238px;
  top:77px;
  width:160px;
  height:160px;
}
#u231 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u232 {
  position:absolute;
  left:566px;
  top:47px;
  width:45px;
  height:29px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u234 {
  position:absolute;
  left:522px;
  top:508px;
  width:89px;
  height:29px;
  font-family:'Droid Sans Fallback Regular', 'Droid Sans Fallback';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:116px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:1300px;
  top:264px;
  width:150px;
  height:116px;
  font-size:20px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:1300px;
  top:322px;
  width:0px;
  height:0px;
}
#u239_seg0 {
  position:absolute;
  left:-309px;
  top:-4px;
  width:309px;
  height:8px;
}
#u239_seg1 {
  position:absolute;
  left:-309px;
  top:-1px;
  width:8px;
  height:5px;
}
#u240 {
  position:absolute;
  left:-203px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:116px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u241 {
  position:absolute;
  left:1291px;
  top:85px;
  width:150px;
  height:116px;
  font-size:20px;
  color:#FFFFFF;
}
#u242 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:1291px;
  top:143px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  position:absolute;
  left:-518px;
  top:-4px;
  width:518px;
  height:8px;
}
#u243_seg1 {
  position:absolute;
  left:-518px;
  top:-4px;
  width:8px;
  height:9px;
}
#u244 {
  position:absolute;
  left:-310px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:167px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  color:#FFFFFF;
}
#u245 {
  position:absolute;
  left:1301px;
  top:462px;
  width:332px;
  height:167px;
  font-size:20px;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:10px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:1301px;
  top:546px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  position:absolute;
  left:-602px;
  top:-4px;
  width:602px;
  height:8px;
}
#u247_seg1 {
  position:absolute;
  left:-602px;
  top:-4px;
  width:8px;
  height:10px;
}
#u248 {
  position:absolute;
  left:-352px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
